*{
  font-family: 'Raleway', sans-serif;
}

.bg-img{
    height: 800px; background-image: url(../img/bg.png);  background-size:cover; background-position: center center;background-attachment:fixed;
}

.global{
  padding: 50px 0px;
  margin: 0 auto;
 }


.global img{
  margin: 0 auto;
  padding-bottom: 20px;
 }


.image img{
  margin: 0 auto
}

span {
    width: 320px;
    height: 2px;
    background: #ffbd5f;
    display: inline-block;
}

.dp{
    display: block;
}

.dp img{
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}

.Button_box {
    -webkit-box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
    box-shadow: 0px 5px 15px 0px rgba(57, 55, 69, 0.48);
    border-radius: 50px;
    background: #fff;
    padding: 45px 0px;
    margin-top: -100px;
    z-index: 22;
    position: relative;
}

.Button_box_secondary{
    -webkit-box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
    box-shadow: 0px 5px 15px 0px rgba(57, 55, 69, 0.48);
    border-radius: 50px;
    background: #fff;
    padding: 45px 0px;
    margin-top: 15px;
    z-index: 22;
    position: relative;
}


.orange{
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #eb8a00;
}

.purple{
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #5a19a5;
}


.box_item{
  margin: 0 auto;
}
.box_item img {
    margin: 40px auto;
    /* text-align: center; */
    vertical-align: center;
    display: block;
}

.forex img{}
.crypto img{}
.whatsapp img{}
.project5k img{}
.youtube img{}
.snapchat img{}
.mystory img{}
.abroadcosmetics img{}
.grfdiet img{}
.exoticdogs img{}
.insta img{}

h4{
  color: #40414f;
  font-weight: 600;
}

p{
  color: #797979;
  text-decoration: none;
}

.details h1{
  color: white; font-weight: 700; margin-bottom: -8px;
}

.details p{
  color:white; margin-top: 20px; line-height: 20px
}